---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = 'Morteza - Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Blog posts</h1>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
