---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Morteza Lakzaei";
---

<BaseLayout pageTitle={pageTitle}>
	<div>
		<h1>Morteza Lakzaei</h1>
		<h3>English Translator and Instructor</h3>
		<p>I have 5 years of experience in teaching and translating various texts.
			I specialize in academic and literary translations. Currently, I am pursuing a Master’s degree in English Language at Ferdowsi University.
			Additionally, I write subtitles for movies and series.
			My passion is to help others improve their English skills and achieve their language goals.
		</p>
	</div>
</BaseLayout>

<style>
	h3 {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	p {
		font-weight: 500;
	}
</style>